@charset "uft-8";

header {
    width: 1220px;
    height: 150px;
    margin: 0 auto;

}

#logo {
    float: left;
    width: 240px;
    height: 150px;
    margin: 0 auto;

}

#logo img {
    margin: 20px;
    width: 50%;
}


#search {
    width: 220px;
    margin: 0 auto;
    float: left;

}



#search .user {
    margin: 40px 10px 80px 90px;
}

#search .user .fa-solid {
    margin: 0 8px;
}


nav {
    width: 730px;
    height: 140px;
    float: left;
    margin: 30px 0 0 10px;

}



nav ul {
    font-size: 17px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    text-align: center;

}

nav ul li {
    float: left;
    margin: 45px 0 0 90px;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul a:hover {
    color: green;
}

.util > ul > li {
    float: left;
    position: relative;
    padding: 0 12px 0 0;
    font-size: 13px;
    color: #828482;}



a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}


.header .util{position: absolute;
    top: 10px;
    right: 0;}




footer {
    width: 100%;
    height: 250px;
    background-color: black;
    margin: 0 auto;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

footer .infor {
    width: 900px;
    height: 150px;
    margin: 0 auto;
}

footer .infor .left {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 17px;
    line-height: 15px;
    letter-spacing: -1px;
    color: gray;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans KR', sans-serif;

}



footer .infor .right {
    margin: 60px;
    float: left;
    font-size: 13px;
    letter-spacing: 1px;
    color: gray;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Noto Sans KR', sans-serif;
}